.main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "filtro articulos";
  margin: 10px 0;
  font-size: 16px; }
  @media all and (max-width: 767px) {
    .main {
      grid-template-rows: auto 1fr;
      grid-template-columns: auto;
      grid-template-areas: "filtro" "articulos"; } }
  .main--center {
    display: flex;
    grid-area: filtro;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
  .main__filtros {
    background-color: #473118;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 0 7px 7px 0px;
    border: 1px solid #ffae00;
    border-left: 0px;
    color: #fff8dc;
    font-size: 1em;
    margin-top: 11px; }
    @media all and (max-width: 767px) {
      .main__filtros {
        display: flex;
        border-radius: 7px 7px 7px 7px;
        border-left: 1px solid #ffae00;
        margin-right: 0px;
        margin-top: 0px; } }
    @media all and (max-width: 480px) {
      .main__filtros {
        flex-direction: column; } }
    .main__filtros hr {
      margin: 0.4rem 0; }
    .main__filtros__grupo {
      font-size: 0.9em;
      margin-left: 4px; }
      @media all and (max-width: 767px) {
        .main__filtros__grupo {
          display: flex;
          align-items: center; }
          .main__filtros__grupo--contenido {
            display: flex; } }
      .main__filtros__grupo--titulo {
        color: #ffae00;
        font-weight: bold; }
      .main__filtros__grupo--contenido {
        font-size: 0.8em;
        margin-left: 10px; }
        .main__filtros__grupo--contenido .form-check {
          margin: 0;
          min-height: auto;
          padding: 0; }
          .main__filtros__grupo--contenido .form-check .form-check-input {
            margin: 0;
            margin-right: 5px;
            margin-top: 2px;
            background-color: #ffae00;
            border-color: #473118;
            min-height: auto; }
            .main__filtros__grupo--contenido .form-check .form-check-input:checked + label:after,
            .main__filtros__grupo--contenido .form-check .form-check-input:checked + label:after {
              opacity: 1; }
          .main__filtros__grupo--contenido .form-check label {
            cursor: pointer; }
          @media all and (max-width: 767px) {
            .main__filtros__grupo--contenido .form-check {
              margin-right: 5px; }
              .main__filtros__grupo--contenido .form-check label {
                padding-top: 1px; } }
  .main__articulos {
    grid-area: articulos;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
    .main__articulos__item {
      position: relative;
      width: 200px;
      height: 250px;
      border: 1px solid #fff8dc;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px;
      overflow: hidden; }
      .main__articulos__item--hover {
        position: absolute;
        display: flex;
        opacity: 0;
        right: 0;
        top: 0;
        bottom: 0;
        justify-content: center;
        left: 0;
        align-items: center;
        font-size: 3em;
        color: #ffae00; }
      .main__articulos__item:hover {
        transition: all 0.5s; }
      .main__articulos__item:hover > .main__articulos__item--hover {
        opacity: 1;
        transition: all 0.5s ease 0.15s; }
      .main__articulos__item:hover > .main__articulos__item__titulo {
        color: #ffae00; }
      .main__articulos__item__imagen {
        width: 100%;
        height: 100%; }
        .main__articulos__item__imagen img {
          width: 100%;
          height: auto; }
        @supports (object-fit: cover) {
          .main__articulos__item__imagen img {
            height: 100%;
            object-fit: cover;
            object-position: center center; } }
      .main__articulos__item__titulo {
        color: #fff8dc;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: black; }

.formulario {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin: 10px 0; }
  .formulario__seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center; }
    .formulario__seccion__contenedor {
      width: 80%;
      max-width: 800px; }
      @media all and (max-width: 767px) {
        .formulario__seccion__contenedor {
          width: 100%; } }
      .formulario__seccion__contenedor__form {
        margin: 0 16px;
        color: white;
        background-color: #000000;
        padding: 10px;
        border-radius: 11px;
        border: 1px solid #ffae00; }
        .formulario__seccion__contenedor__form__item {
          margin: 10px 0px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start; }
          .formulario__seccion__contenedor__form__item input,
          .formulario__seccion__contenedor__form__item textarea {
            flex: 1;
            padding: 5px;
            border: 1px solid #ffae00;
            background-color: #fff8dc;
            border-radius: 4px;
            min-width: 250px; }
          .formulario__seccion__contenedor__form__item label {
            margin-right: 15px; }
        .formulario__seccion__contenedor__form__check {
          margin: 5px 0px; }
          .formulario__seccion__contenedor__form__check input {
            margin: 0;
            margin-right: 5px;
            margin-top: 4px;
            background-color: #ffae00;
            border-color: #473118;
            min-height: auto; }
            .formulario__seccion__contenedor__form__check input:checked + label:after,
            .formulario__seccion__contenedor__form__check input:checked + label:after {
              opacity: 1; }
          .formulario__seccion__contenedor__form__check label {
            cursor: pointer; }
        .formulario__seccion__contenedor__form button {
          width: 100%; }

.nosotros {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin: 10px 0; }
  .nosotros__seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center; }
    .nosotros__seccion__contenedor {
      border-radius: 19px;
      padding: 10px;
      border: 1px solid #ddd;
      width: 80%;
      max-width: 800px; }
      @media all and (max-width: 767px) {
        .nosotros__seccion__contenedor {
          width: 100%; } }
      .nosotros__seccion__contenedor--titulo {
        color: azure;
        text-align: center; }
        .nosotros__seccion__contenedor--titulo h3 {
          color: #ffae00; }
        .nosotros__seccion__contenedor--titulo p {
          color: #e91e63; }
      .nosotros__seccion__contenedor--info {
        font-size: 0.8em;
        color: #fff8dc; }

#secPrincipal .categorias {
  width: 200px;
  overflow: hidden;
  height: 300px;
  margin: 10px;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px dashed #ddd; }
  @media all and (max-width: 767px) {
    #secPrincipal .categorias {
      width: 45%; } }
  @media all and (max-width: 480px) {
    #secPrincipal .categorias {
      width: 90%; } }
  #secPrincipal .categorias:hover {
    cursor: pointer; }
  #secPrincipal .categorias:hover > .categorias--titulo {
    color: #ffae00; }
  #secPrincipal .categorias--imagen {
    height: 100%;
    width: 100%; }
    #secPrincipal .categorias--imagen img {
      width: 100%;
      height: auto; }
    @supports (object-fit: cover) {
      #secPrincipal .categorias--imagen img {
        height: 100%;
        object-fit: cover;
        object-position: center center; } }
  #secPrincipal .categorias--titulo {
    position: absolute;
    font-size: 1.5em;
    color: aliceblue;
    text-shadow: 1px 2px black;
    background: #0000007a;
    width: 100%;
    text-align: center;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd; }
