@import "./_variables.scss";

.main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: "filtro articulos";
  margin: 10px 0;
  font-size: 16px;
  @media all and (max-width: 767px) {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: "filtro" "articulos";
  }
  &--center {
    display: flex;
    grid-area: filtro;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__filtros {
    background-color: $color-primary;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 0 7px 7px 0px;
    border: 1px solid $color-secondary;
    border-left: 0px;
    color: $color-tertiary;
    font-size: 1em;
    margin-top: 11px;

    @media all and (max-width: 767px) {
      display: flex;
      border-radius: 7px 7px 7px 7px;
      border-left: 1px solid $color-secondary;
      margin-right: 0px;
      margin-top: 0px;
    }

    @media all and (max-width: 480px) {
      flex-direction: column;
    }

    hr {
      margin: 0.4rem 0;
    }

    &__grupo {
      font-size: 0.9em;
      margin-left: 4px;
      @media all and (max-width: 767px) {
        display: flex;
        align-items: center;
        &--contenido {
          display: flex;
        }
      }

      &--titulo {
        color: $color-secondary;
        font-weight: bold;
      }

      &--contenido {
        font-size: 0.8em;
        margin-left: 10px;

        .form-check {
          margin: 0;
          min-height: auto;
          padding: 0;
          .form-check-input {
            margin: 0;
            margin-right: 5px;
            margin-top: 2px;
            background-color: $color-secondary;
            border-color: $color-primary;
            min-height: auto;
            &:checked + label:after,
            &:checked + label:after {
              opacity: 1;
            }
          }
          label {
            cursor: pointer;
          }
          @media all and (max-width: 767px) {
            margin-right: 5px;
            label {
              padding-top: 1px;
            }
          }
        }
      }
    }
  }

  &__articulos {
    grid-area: articulos;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      position: relative;
      width: 200px;
      height: 250px;
      border: 1px solid $color-tertiary;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px;
      overflow: hidden;

      &--hover {
        position: absolute;
        display: flex;
        opacity: 0;
        right: 0;
        top: 0;
        bottom: 0;
        justify-content: center;
        left: 0;
        align-items: center;
        font-size: 3em;
        color: $color-secondary;
      }

      &:hover {
        transition: all 0.5s;
      }

      &:hover > &--hover {
        opacity: 1;
        transition: all 0.5s ease 0.15s;
      }

      &:hover > &__titulo {
        color: $color-secondary;
      }

      &__imagen {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
        }
        @supports (object-fit: cover) {
          img {
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }

      &__titulo {
        color: #fff8dc;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: black;
      }
    }
  }
}

.formulario {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin: 10px 0;
  &__seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    &__contenedor {
      width: 80%;
      max-width: 800px;
      @media all and (max-width: 767px) {
        width: 100%;
      }
      &__form {
        margin: 0 16px;
        color: white;
        background-color: #000000;
        padding: 10px;
        border-radius: 11px;
        border: 1px solid $color-secondary;

        &__item {
          margin: 10px 0px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;

          input,
          textarea {
            flex: 1;
            padding: 5px;
            border: 1px solid $color-secondary;
            background-color: $color-tertiary;
            border-radius: 4px;
            min-width: 250px;
          }
          label {
            margin-right: 15px;
          }
        }

        &__check {
          margin: 5px 0px;
          input {
            margin: 0;
            margin-right: 5px;
            margin-top: 4px;
            background-color: $color-secondary;
            border-color: $color-primary;
            min-height: auto;
            &:checked + label:after,
            &:checked + label:after {
              opacity: 1;
            }
          }
          label {
            cursor: pointer;
          }
        }
        button {
          width: 100%;
        }
      }
    }
  }
}

.nosotros {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin: 10px 0;
  &__seccion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    &__contenedor {
      border-radius: 19px;
      padding: 10px;
      border: 1px solid #ddd;
      width: 80%;
      max-width: 800px;
      @media all and (max-width: 767px) {
        width: 100%;
      }
      &--titulo {
        color: azure;
        text-align: center;
        h3 {
          color: $color-secondary;
        }
        p {
          color: $color-4;
        }
      }

      &--info {
        font-size: 0.8em;
        color: $color-tertiary;
      }
    }
  }
}

#secPrincipal {
  .categorias {
    width: 200px;
    overflow: hidden;
    height: 300px;
    margin: 10px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px dashed #ddd;
    @media all and (max-width: 767px) {
      width: 45%;
    }
    @media all and (max-width: 480px) {
      width: 90%;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover > .categorias--titulo {
      color: $color-secondary;
    }

    &--imagen {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      @supports (object-fit: cover) {
        img {
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
    }
    &--titulo {
      position: absolute;
      font-size: 1.5em;
      color: aliceblue;
      text-shadow: 1px 2px black;
      background: #0000007a;
      width: 100%;
      text-align: center;
      border-top: 1px dashed #ddd;
      border-bottom: 1px dashed #ddd;
    }
  }
}
